<div class="form-group row">
  <label
    [for]="name"
    class="control-label"
    *ngIf="title !== null && title.length > 0 && inputType != 'hidden'"
    [ngClass]="{ 'col-1 align-self-center d-block': labelLeft }"
    >{{ title }}</label
  >
  <div [ngClass]="{ col: labelLeft }">
    <input
      type="text"
      class="form-control"
      [id]="name"
      [name]="name"
      [(ngModel)]="value"
      [disabled]="disabled"
      (change)="onChange(value)"
      #model="ngModel"
      (focusout)="displayInvalid = true"
      *ngIf="inputType == 'text'"
    />

    <input
      type="number"
      class="form-control"
      [ngClass]="{ 'col col-8': labelLeft }"
      [id]="name"
      [name]="name"
      [(ngModel)]="value"
      [disabled]="disabled"
      (change)="onChange(value)"
      #model="ngModel"
      (focusout)="displayInvalid = true"
      *ngIf="inputType == 'number'"
    />

    <input
      type="hidden"
      class="form-control"
      [ngClass]="{ 'col col-8': labelLeft }"
      [id]="name"
      [name]="name"
      [(ngModel)]="value"
      [disabled]="disabled"
      (change)="onChange(value)"
      #model="ngModel"
      (focusout)="displayInvalid = true"
      *ngIf="inputType == 'hidden'"
    />
  </div>

  <div *ngIf="ngControl.invalid && displayInvalid" class="alert alert-danger">
    <div *ngFor="let error of errorsService.getAllErrors(title, ngControl)">
      {{ error }}
    </div>
  </div>
</div>
