<div
  class="position-relative d-flex align-items-center justify-content-center"
  *ngIf="observePageCount() | async as pageCount"
>
  <span
    *ngIf="showTotals()"
    class="align-content-center text-primary bg-light position-absolute end-0 top-0 bottom-0 rounded ps-3 pe-3"
    i18n
  >
    <strong>Total Records</strong>: {{ observeTotalCount() | async }}
  </span>
  <nav>
    <ul class="pagination m-0" *ngIf="pageCount <= 1">
      <li role="button" class="page-item">
        <span class="page-link border border-0 border-opacity-100">&nbsp;</span>
      </li>
    </ul>
    <ul class="pagination m-0" *ngIf="pageCount > 1">
      <li [attr.role]="isFirstPage() ? '' : 'button'" class="page-item">
        <a
          class="page-link"
          (click)="isFirstPage() ? doNothing() : navigateTo.emit(1)"
          aria-label="0"
          [ngClass]="{
            active: isFirstPage(),
          }"
        >
          <span>&laquo;</span>
        </a>
      </li>
      <li
        [attr.role]="
          (observePage() | async) == navigatorPage.pageNumber ? '' : 'button'
        "
        class="page-item"
        *ngFor="let navigatorPage of observeNavigatorPages() | async"
      >
        <a
          class="page-link"
          (click)="
            page$.getValue() == navigatorPage.pageNumber
              ? doNothing()
              : navigateTo.emit(navigatorPage.pageNumber)
          "
          [attr.aria-label]="navigatorPage.pageNumber.toString()"
          [ngClass]="{
            active: (observePage() | async) == navigatorPage.pageNumber,
          }"
        >
          {{ navigatorPage.pageNumber }}
        </a>
      </li>
      <li [attr.role]="isLastPage() ? '' : 'button'" class="page-item">
        <a
          class="page-link"
          (click)="
            isLastPage() ? doNothing() : navigateTo.emit(calculateLastPage())
          "
          aria-label="0"
          [ngClass]="{
            active: isLastPage(),
          }"
        >
          <span>&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
