<div class="form-group">
  <label [for]="name" *ngIf="title !== null">{{ title }}</label>
  <input
    type="text"
    class="form-control"
    [id]="name"
    [name]="name"
    [(ngModel)]="value"
    [disabled]="disabled"
    (change)="onChange(value)"
    #model="ngModel"
    (focusout)="displayInvalid = true"
    *ngIf="inputType == 'text'"
  />

  <input
    type="number"
    class="form-control"
    [id]="name"
    [name]="name"
    [(ngModel)]="value"
    [disabled]="disabled"
    (change)="onChange(value)"
    #model="ngModel"
    (focusout)="displayInvalid = true"
    *ngIf="inputType == 'number'"
  />

  <input
    type="hidden"
    class="form-control"
    [id]="name"
    [name]="name"
    [(ngModel)]="value"
    [disabled]="disabled"
    (change)="onChange(value)"
    #model="ngModel"
    (focusout)="displayInvalid = true"
    *ngIf="inputType == 'number'"
  />

  <div *ngIf="ngControl.invalid && displayInvalid" class="alert alert-danger">
    <div *ngFor="let error of errorsService.getAllErrors(title, ngControl)">
      {{ error }}
    </div>
  </div>
</div>
