<form #setupForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal" style="display: block">
    <app-dialog>
      <dialog-header title="Setup" i18n-title />
      <dialog-explanation
        explanation="This is the setup process of the ONVP website. Please enter the following details, to startup the website."
        i18n-explanation
      />

      <dialog-body>
        <form-text-entry
          name="firstName"
          title="First Name"
          i18n-title
          [(ngModel)]="model.firstName"
          required
        />

        <form-text-entry
          name="lastName"
          title="Last Name"
          i18n-title
          [(ngModel)]="model.lastName"
          required
        />

        <form-text-entry
          name="email"
          title="Email Address"
          i18n-title
          [(ngModel)]="model.email"
          required
          email
        />
        <!-- Need additional entry validation for the username -->
        <form-text-entry
          name="userName"
          title="User Name"
          i18n-title
          [(ngModel)]="model.userName"
          required
        />
        <!-- Need additional entry validation for the phone number -->
        <form-text-entry
          name="phoneNumber"
          title="Phone Number"
          i18n-title
          [(ngModel)]="model.phoneNumber"
          required
        />
        <form-text-entry
          name="street"
          title="Street"
          i18n-title
          [(ngModel)]="model.street"
          required
        />
        <form-text-entry
          name="houseNumber"
          title="House Number"
          i18n-title
          [(ngModel)]="model.houseNumber"
          required
        />
        <form-text-entry
          name="houseNumberPostfix"
          title="House Number Postfix"
          i18n-title
          [(ngModel)]="model.houseNumberPostfix"
        />
        <!-- Need additional entry validation for the postal code -->
        <form-text-entry
          name="postalCode"
          title="Postal Code"
          i18n-title
          [(ngModel)]="model.postalCode"
          required
        />
        <form-text-entry
          name="domicile"
          title="Domicile"
          i18n-title
          [(ngModel)]="model.domicile"
          required
        />
      </dialog-body>
      <dialog-footer>
        <form-submit [disabled]="setupForm.invalid" />
      </dialog-footer>
    </app-dialog>
  </div>
</form>
