<form #registrationForm="ngForm" (ngSubmit)="submit($event)">
  <app-dialog>
    <dialog-header title="Register Member" i18n-title />
    <dialog-explanation
      explanation="This is the registration dialog for a new member. Please enter the details here and submit. An email will be send to the member for further activation"
      i18n-explanation
    />

    <dialog-body>
      <form-text-entry
        name="firstName"
        title="First Name"
        i18n-title
        [(ngModel)]="model.detailRegisterSubCommand.firstName"
        required
      />

      <form-text-entry
        name="lastName"
        title="Last Name"
        i18n-title
        [(ngModel)]="model.detailRegisterSubCommand.lastName"
        required
      />

      <form-text-entry
        name="email"
        title="Email Address"
        i18n-title
        [(ngModel)]="model.detailRegisterSubCommand.emailAddress"
        required
        email
      />
      <form-text-entry
        name="phoneNumber"
        title="Phone Number"
        i18n-title
        [(ngModel)]="model.detailRegisterSubCommand.phoneNumber"
        required
        pattern="^\+[0-9]+$"
      />
      <form-text-entry
        name="street"
        title="Street"
        i18n-title
        [(ngModel)]="model.addressRegisterSubCommand.street"
        required
      />
      <form-text-entry
        name="houseNumber"
        title="House Number"
        i18n-title
        [(ngModel)]="model.addressRegisterSubCommand.houseNumber"
        required
        pattern="^[0-9]+$"
        inputType="number"
      />
      <form-text-entry
        name="houseNumberPostfix"
        title="House Number Postfix"
        i18n-title
        [(ngModel)]="model.addressRegisterSubCommand.houseNumberPostfix"
      />
      <form-text-entry
        name="postalCode"
        title="Postal Code"
        i18n-title
        [(ngModel)]="model.addressRegisterSubCommand.postalCode"
        required
        pattern="^[0-9][0-9][0-9][0-9][A-Z][A-Z]$"
      />
      <form-text-entry
        name="domicile"
        title="Domicile"
        i18n-title
        [(ngModel)]="model.addressRegisterSubCommand.domicile"
        required
      />
    </dialog-body>
    <dialog-footer>
      <form-cancel />
      <form-submit [disabled]="registrationForm.invalid" />
    </dialog-footer>
  </app-dialog>
</form>
